/* /// home FOOTER/// */

footer {
    text-align: center;
    color: #c7c5cf;
    background-color:black;
}
 #sticky-footer {
     flex-shrink: none;
 }

 /* ///reserve FOOTER/// */

footer {
    text-align: center;
    color: #c7c5cf;
    background-color:black;
}
 #sticky-footer {
     flex-shrink: none;
 }

/* ///tables FOOTER/// */

footer {
    text-align: center;
    color: #c7c5cf;
    background-color:black;
}
 #sticky-footer {
     flex-shrink: none;
 }


